spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/chatbot
    username: chatbot
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  
  sql:
    init:
      schema-locations: classpath:schema.sql
      separator: ;; # PL/pgSQL 블록 처리를 위해 구분자 변경
  
  jpa:
    hibernate:
      ddl-auto: validate # schema.sql이 진실이므로 DB 구조 검증만 수행
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
